.jumbotron.text-center
  h1 Parles avec Elizabot
  p Sélectionnes un hashtag trendy Charlotte!
  form.form-inline action="/search" id="search" name="twitter_search"
    select.form-control autofocus="true" required="true" name="hashtag"
      option selected="selected" value="" Sélectionnes un hastag
    form-group    
      input.btn.btn-warning type="submit" id="fetch" value="GO!"
  button.btn.btn-danger Pause
.row

script id="tweet-template" type="text/x-handlebars-template"
  .col-lg-4
    .clearfix.visible-lg-block
    ~#statuses
    .panel.panel-info
      .panel-heading
        strong> Tweet
      .panel-body
        ~text
      .panel-footer 
        strong> Réponse d'Eliza:
        ~eliza