doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    /! The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Présentation Covéo
    /! Bootstrap
    link href="css/bootstrap.min.css" rel="stylesheet" /
    /! HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /! WARNING: Respond.js doesn't work if you view the page via file://
    /![if lt IE 9]
      | <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script
      | <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
  body
    .container
      == yield
    
  /! jQuery (necessary for Bootstrap's JavaScript plugins)
  script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" 
  /! Include all compiled plugins (below), or include individual files as needed
  script src="js/bootstrap.min.js" 
  script src="js/coveo.js" 
  script src="js/handlebars-1.0.rc.1.min.js"
  script src="js/elizabot.js"
  script src="js/elizadata.js"
  script src="https://code.responsivevoice.org/responsivevoice.js"